body{
	background-color:orange;
}

#mainrow{
	padding-left:120px;
	margin-left:auto;
	margin-right:auto;
	padding-top:90px;
	padding-bottom:60px;
}
ul{
	list-style: none;
}

#burgerimage{
	padding-top:6px;
	margin-left:auto;
	margin-right:auto;
}

#bimage{
	margin-left:auto;
	margin-right:auto;
}

form{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

input[type="text"]{
	height:50px;
}

li {
    
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

li p{
   padding-left: 5px;
   padding-top:5px;
   font-size: 16px;
}

button.devourburger{
  font-style: italic;
  background: lightyellow;
  margin-left:10px;
  height:24px;
  font-size:13px;
}

